<!--<div id="map_div" style="width: 1000px; height: 1500px"></div>-->
<input id="over_map1" class="controls" type="text" placeholder="Start Point">
<input id="over_map2" class="controls" type="text" placeholder="End Point">
<div id="map"></div>
<br><br>
<div>
    Start Point = <input type="text" id="startpoint0">, <input type="text" id="startpoint1">
    <br><br>
    End Point = <input type="text" id="endpoint0">, <input type="text" id="endpoint1">
    <br><br>
    Distance = <input type="text" id="distance"> Km{{saved}}
</div>

<br><br>

<iframe name="showAll" src="http://localhost:8080/showall" height="400" frameborder="0" scrolling="yes"></iframe>
