<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" ng-show="if_data">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Start Point  [Lat, Lng]</th>
        <th class="mdl-data-table__cell--non-numeric">End Point  [Lat, Lng]</th>
        <th class="mdl-data-table__cell--non-numeric">Distance (Km)</th>
        <th class="col-sm2"></th>
        <th class="col-sm2"></th>
    </tr>
    </thead>
    <tbody>

    <!-- LOOP OVER THE USERS -->
    <tr ng-repeat="data in data">
        <td class="mdl-data-table__cell--non-numeric">{{ data.startPoint }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ data.endPoint }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ data.distance }}</td>
        <td>
            <a href="#" ng-click="deleteLine(data._id)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
