/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 12cm;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#over_map1 { position: absolute; width: 250px; left: 500px; z-index: 99; }

#over_map2 { position: absolute; width: 250px; top: 50px; left: 500px; z-index: 99; }